.Temperature {
  text-align: center;
  padding: 10px;
  max-width: 400px;
  border: 1px solid #f59090;
  background-color: #393f3f5e;
  border-radius: 8px;
  margin: auto;
}
.Temperature ul {
  text-align: center;
  list-style-type: none;
}

.WeatherTemperature {
  text-align: center;
  font-size: 28px;
}
.Temperature {
  margin-top: 25px;
  margin-bottom: 25px;
}
.WeatherTemperature .unit {
  text-align: center;
  font-size: 14px;
  position: relative;
  top: -10px;
}
.Temperature canvas {
  margin-right: 10 px;
  margin-top: 5px;
  display: inline-block;
}
